<div class="col-md-6 d-none d-md-block">
  <ul class="list-inline socialicon">
    <li>
      <a href="javascript:void(0)">
        <i class="call"></i>
        <span>1800 52415 6524</span>
      </a>
    </li>
    <li>
      <a href="javascript:void(0)">
        <i class="message"></i>
        <span>h2hartist@gmail.com</span>
      </a>
    </li>
    <li>
      <a href="http://linkedin.com" target="_blank" title="linkedin">
        <i class="linkdin"></i>
      </a>
    </li>
    <li>
      <a href="http://facebook.com" target="_blank" title="facebook">
        <i class="f"></i>
      </a>
    </li>
    <li>
      <a href="http://twitter.com" target="_blank" title="twitter">
        <i class="t"></i>
      </a>
    </li>
  </ul>
</div>