<div class=" col-xs-12 col-lg-12  ">
  <div>
    <ul class="nav nav-tabs nav-tab-right">
      <li class="active"><a data-toggle="tab" href="#first">Edit Profile</a></li>
      <li><a data-toggle="tab" href="#secound">View Profile</a></li>
    </ul>
    <div class="tab-content row">
      <div id="first" class="tab-pane fade in active">


        <app-hotels-edit-profile-content></app-hotels-edit-profile-content>									
      </div>
      <div id="secound" class="tab-pane fade">

        <app-hotels-view-profile-content></app-hotels-view-profile-content>
      </div>
    </div>
  </div>
</div>
