<form #artistCalendarForm="ngForm" (ngSubmit)="saveCalendar(artistCalendarForm)">
  <div class="container">
    <!-- <div class="row">
    <div class="col-lg-2 pull-right">
      <button type="submit" class="btn btn-default">Update</button>
    </div>
  </div> -->
    <br>
    <div class="row">
      <div class="alert alert-success alert-dismissible" *ngIf="eventApiStatus === 'save'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Event Added Successfully.
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="eventApiStatus === 'update'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Event Updated Successfully.
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="eventApiStatus === 'delete'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Event Deleted Successfully.
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="eventApiStatus === 'error'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> Error While Saving Event.
      </div>
    </div>
    <div class="row">

      <div class="col-lg-12" *ngIf="showCalendar">
        <!-- <img src="./assets/images/calendar.jpg" alt=""> -->
        <angular2-fullcalendar class="myCalendar" [options]="calendarOptions"></angular2-fullcalendar>

      </div>

    </div>
    <div class="calendarModel" id="calendarModel" role="dialog" #calendarModel>
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" (click)="hideCalendarPopup()" style="color:#fff">&times;</button>
            <h4 class="modal-title">Add Event</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning alert-dismissible" *ngIf="eventApiStatus === 'validationError' && (artistCalendarForm && artistCalendarForm.form && artistCalendarForm.form.controls && artistCalendarForm.form.invalid)">
              <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <div class="errorbox" *ngIf="(artistCalendarForm && artistCalendarForm.form && artistCalendarForm.form.controls && artistCalendarForm.form.invalid && artistCalendarForm.submitted) ">
                <b>Validation error(s) occured:</b>
                <br>
                <!-- <li *ngIf="ErrorMesageFlag">{{validateMsg}}</li> -->
                <li *ngIf="artistCalendarForm.form.controls.eventTitle?.hasError('required')">Please enter event title</li>
                <li *ngIf="artistCalendarForm.form.controls.eventTitle?.hasError('pattern')">Please enter valid event title (should be alphabets only)</li>
                <li *ngIf="artistCalendarForm.form.controls.eventTitle?.hasError('minlength')">event title minimum length should be 5</li>
                <li *ngIf="artistCalendarForm.form.controls.eventTitle?.hasError('maxlength')">event title maximum length should be 10</li>
              </div>
            </div>
            <div class="form-group">
              <input type='text' class="form-control" placeholder="Title" name="eventTitle" [(ngModel)]="eventTitle" pattern="[a-zA-Z][a-zA-Z ]+"
                minlength="5" maxlength="10" required/>

            </div>
            <div class="form-group">
              <textarea name="" id="" class="form-control" cols="30" rows="10" name="eventDescription" [(ngModel)]="eventDescription">Description</textarea>
            </div>

            <div class="form-group row">
              <div class="col-lg-2">

                <div class="image-upload">
                  <label for="file-input-artist-event-photo">
                    <span class="blackhover-gray">
                      <i class="fa fa-camera" aria-hidden="true"></i> Choose Event Photo</span>
                  </label>
                  <input id="file-input-artist-event-photo" type="file" ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)"
                    [uploadInput]="uploadInput">
                </div>
                <img class="img-fluid" *ngIf="currentEventCoverPhoto" src="{{uploadUrl}}/uploads/{{currentEventCoverPhoto}}" alt="ads" title="ads"
                  class="img-responsive" (error)="img.src = updateUrl()" #img>
                  
                <div class="file-response">
                  <span *ngIf="fileInProgress === 'done'">Uploading File Done Successfully.
                    <img src="./assets/images/done.png" height="50px" width="50px" />
                  </span>
                  <span *ngIf="fileInProgress === 'progress'">File Uploading In Progress...
                    <img src="./assets/images/progress.gif" height="40px" width="50px" />
                  </span>
                </div>
              </div>
            </div>

            <label>Date</label>
            <p>{{eventDate | date : 'MM/dd/yyyy'}}</p>

          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                <button type="submit" class="btn btn-default">Save</button>
              </div>
              <div class="col-lg-4">
                <button type="button" class="btn btn-gray" (click)="hideCalendarPopup()">Cancel</button>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>
    <div class="deleteCalendarModel" id="deleteCalendarModel" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="hideDeleteCalendarPopup()" style="color:#fff">&times;</button>
            <h4 class="modal-title">Delete Event</h4>
          </div>
          <div class="modal-body">
            Are You sure to delete this event !!
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                <button type="button" class="btn btn-default" (click)="deleteEvent()">Delete</button>
              </div>
              <div class="col-lg-4">
                <button type="button" class="btn btn-gray" (click)="hideDeleteCalendarPopup()">Cancel</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</form>