<div class=" col-xs-12 col-lg-12  ">
  <div class="">
    <div class="">	
      <ul class="nav nav-tabs nav-tab-right">
        <li class="active"><a data-toggle="tab" href="#third">Photos</a></li>
        <li><a data-toggle="tab" href="#fourth">Videos</a></li>
      </ul>

      <div class="tab-content">
        
        <div id="third" class="tab-pane fade  in active">
          <app-artists-catalogue-photos-content [showForm]="showForm"></app-artists-catalogue-photos-content>
        </div>
        <div id="fourth" class="tab-pane fade ">
          <app-artists-catalogue-videos-content [showForm]="showForm"></app-artists-catalogue-videos-content>
        </div>
        
      </div>
    </div>										
  </div>
</div>
