<div class="container">
  <div class="row">
    <div class="col-lg-2 pull-right">
      <button type="submit" class="btn btn-default" (click)="updateProfile()">Update</button>
    </div>
  </div>
  <div class="row">
      <div class="alert alert-success alert-dismissible" *ngIf="proflieUpdateApiStatus === 'update'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Profile Updated Successfully.
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="proflieUpdateApiStatus === 'error'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> Error While Updating Profile
      </div>
      <div class="alert alert-warning alert-dismissible" *ngIf="proflieUpdateApiStatus === 'validationError'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Required Fields!</strong> Required Fields as (*)
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <fieldset class="fieldset_inner">
        <legend>
          <span>Personal</span>details</legend>
        <div class="form-group">
          <p>Please choose a promo name/title which will be used only by this website. The name you choose should be unique to this site and not used by any other internet platform. It can, however, be similar to your name, a short version of your name etc. and will be approved by our admin team. If you like you can give us a couple of options to choose from.</p>
          <input type='type' class="form-control" placeholder="Promotional title" name="profileTitle" [(ngModel)]="profileTitle" />
        </div>
        <div class="form-group">
          <textarea name="" id="" cols="30" rows="10" class="form-control" placeholder="About you/Bio" name="aboutUser" [(ngModel)]="aboutUser"></textarea>
        </div>
        <div class="form-group gendar col-lg-6">
          <div class="col-lg-5">
            <label>Male</label>
            <input type="radio" name="gendar" [(ngModel)]="gender" value="male" checked>
          </div>
          <div class="col-lg-5">
            <label>Female</label>
            <input type="radio" name="gendar" [(ngModel)]="gender" value="female">
          </div>
        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend><span>Skills</span></legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <form role="form" autocomplete="off">
              <span class="input-group-btn">
                <button class="btn btn-success btn-add" type="button" [disabled]="(skillType.length == skills.length) || addSkill" (click)="skills.push({desc : ''})">
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
              </span>
              <div class="row" *ngFor="let skill of skills; let i = index">
                <div class="col-lg-4">
                  <select class="form-control" [(ngModel)]="skill.type" (change)="changeSkill(i)" name="skill{{i}}.type">
                    <option disabled=true value=undefined>Choose Skill</option>                      
                    <option [hidden]="skillOptionDisable(sk.id)" *ngFor="let sk of skillType" [value]="sk.id">{{sk.name}}</option>
                  </select>
                </div>
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="skill.desc" type="text" placeholder="Description" name="skill{{i}}.desc">
                </div>
                <div class="col-lg-2">
                  <span class="input-group-btn">
                    <button class="btn btn-remove btn-primary btn-danger2" type="button" (click)="skills.splice(i,1);changeSkill()">
                      <span class="glyphicon glyphicon-minus"></span>
                    </button>
                  </span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend><span>Musical/Entertainment Genres</span></legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="row">
                <div class="col-lg-12">
                  <input class="form-control" [(ngModel)]="genres" type="textarea" placeholder="Describe the genres you specialize in" name="genres">
                </div>
              </div>
            </form>
          </div>
        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend><span>Venues</span></legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="row">
                <div class="col-lg-12">
                  <input class="form-control" [(ngModel)]="venues" type="textarea" placeholder="Venues you've previously performed at" name="venues">
                </div>
              </div>
            </form>
          </div>
        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend>
          <span>Payment </span>details</legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="entry input-group form-group">
                <input class="form-control" name="fields[]" type="text" placeholder="Type something">
                <span class="input-group-btn">
                  <button class="btn btn-remove btn-primary btn-danger2" type="button">
                    <span class="glyphicon glyphicon-minus"></span>
                  </button>
                </span>
              </div>
              <div class="entry input-group form-group">
                <input class="form-control" name="fields[]" type="text" placeholder="Type something" />
                <span class="input-group-btn">
                  <button class="btn btn-success btn-add" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div class="form-group">
          <a href="#" class="blackhover-gray">
            <i class="fa fa-camera" aria-hidden="true"></i>
            View payment history
          </a>

        </div>
      </fieldset>
      <br>
      <!-- <fieldset class="fieldset_inner">
        <legend>
          <span>Physical </span>description</legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <div class="row">
              <form role="form" autocomplete="off" class="col-lg-3">
                <div class="form-group">
                  <input class="form-control" name="height" type="text" placeholder="Height" [(ngModel)]="height">
                </div>
              </form>
              <form role="form" autocomplete="off" class="col-lg-3">
                <div class="form-group">
                  <input class="form-control" name="weight" type="text" placeholder="Weight" [(ngModel)]="weight">
                </div>
              </form>
              <form role="form" autocomplete="off" class="col-lg-3">
                <div class="form-group">
                  <input class="form-control" name="complexion" type="text" placeholder="Complexion" [(ngModel)]="complexion">
                </div>
              </form>
              <form role="form" autocomplete="off" class="col-lg-3">
                <div class="form-group">
                  <input class="form-control" name="bodyType" type="text" placeholder="Body Type" [(ngModel)]="bodyType">
                </div>
              </form>
            </div>
          </div>
        </div>
      </fieldset> -->
    </div>

    <div class="col-lg-6">
      <fieldset class="fieldset_inner">
        <legend>
          <span> Contact </span>
        </legend>
        <div class="form-group">
          <input type='text' class="form-control" placeholder="Email address" [(ngModel)]="email" name="email" disabled/>
        </div>
        <div class="form-group">
          <input type='number' class="form-control" placeholder="Mobile no" [(ngModel)]="contactNumber" name="contactNumber"/>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="" id="" cols="30" rows="11" placeholder="Address" [(ngModel)]="address" name="address"></textarea>
        </div>
        <div class="form-group">
          <select class="form-control" id="sel1" (change)="getStateData(countryId)" [(ngModel)]="countryId" name="country">
            <option disabled=true value="">Choose Country</option>                      
            <option *ngFor="let item of countryData" value="{{item?.country_id}}">{{item?.country_name}}</option>
          </select>
        </div>
        <div class="form-group">
          <select class="form-control" id="sel2" [(ngModel)]="stateId" name="state">
            <option disabled=true value="">Choose State</option>
            <option *ngFor="let item of stateData" value="{{item?.state_id}}">{{item?.state_name}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type='text' class="form-control" placeholder="City" [(ngModel)]="city" name="city"/>
        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend>
          <span>Artist </span> categories</legend>
        <div class="form-group">
          <div class="col-lg-12" *ngFor="let item of artistCategoryData;let i = index;">
            <input [checked]="item.checked" (change)="item.checked = !item.checked; onSelect(item)" type="checkbox" id="checkboxes_{{i}}" value={{item?.artist_category_name}} />
            <label for="checkboxes_{{i}}">{{item?.artist_category_name}} </label>            
          </div>
          <!-- <div class="col-lg-3">
            <label>Dancer</label>
            <input type='checkbox' placeholder="Email address" />
          </div>
          <div class="col-lg-3">
            <label>Comedian</label>
            <input type='checkbox' placeholder="Email address" />
          </div>
          <div class="col-lg-3">
            <label>Other</label>
            <input type='checkbox' placeholder="Email address" />
          </div> -->
        </div>

      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend>
          <span>Languages</span>
        </legend>
        <div class="form-group">
          <!-- <select class="form-control" id="sel1">
            <option>Choose from Dropdown</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
          </select> -->
          <angular2-multiselect [data]="languageArray" [(ngModel)]="selectedLanguage" [settings]="settings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
            name="selectedLanguage">
          </angular2-multiselect>
        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend><span>Domestic Bookings</span></legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="row">
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="domesticID" type="file" name="domesticID">
                </div>
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="domesticIDDesc" type="text" placeholder="Domestic identity proof" name="domesticIDDesc">
                </div>
              </div>
            </form>
          </div>
        </div>
      </fieldset>
      <br>
      <fieldset class="fieldset_inner">
        <legend><span>International Bookings</span></legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="row">
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="intPassport" type="file" name="intPassport">
                </div>
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="intPassportDesc" type="text" placeholder="Passport Scan Copy" name="intPassportDesc">
                </div>
              </div>
            </form>
          </div>
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="row">
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="intPassportPhoto" type="file" name="intPassportPhoto">
                </div>
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="intPassportPhotoDesc" type="text" placeholder="Clear Passport Photo" name="intPassportPhotoDesc">
                </div>
              </div>
            </form>
          </div>
          <div class="controls">
            <form role="form" autocomplete="off">
              <div class="row">
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="intEduCer" type="file" name="intEduCer">
                </div>
                <div class="col-lg-6">
                  <input class="form-control" [(ngModel)]="intEduCerDesc" type="text" placeholder="Education Certificate" name="intEduCerDesc">
                </div>
              </div>
            </form>
          </div>
        </div>
      </fieldset>
      <br>
      <!-- <fieldset class="fieldset_inner">
        <legend>
          <span>Conveyance</span>
        </legend>
        <div class="control-group form-group" id="fields">
          <div class="controls">
            <div class="row">
              <form role="form" autocomplete="off" class="col-lg-6">
                <div class="form-group">
                  <div class="">
                    <p>Ready to travel </p>
                    <div class="col-lg-5">
                      <label>Yes</label>
                      <input type="radio" name="travel" checked value="yes" [(ngModel)]="readyToTravel">
                    </div>
                    <div class="col-lg-5">
                      <label>No</label>
                      <input type="radio" name="travel" value="no" [(ngModel)]="readyToTravel">
                    </div>
                  </div>
                </div>
              </form>
              <form role="form" autocomplete="off" class="col-lg-6">
                <div class="form-group">
                  <div class="">
                    <p>You have passport </p>
                    <div class="col-lg-5">
                      <label>Yes</label>
                      <input type="radio" name="passport" checked value="yes" [(ngModel)]="passportStatus">
                    </div>
                    <div class="col-lg-5">
                      <label>No</label>
                      <input type="radio" name="passport" value="no" [(ngModel)]="passportStatus">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </fieldset> -->
    </div>
  </div>
</div>