<app-artists-page-slider-content></app-artists-page-slider-content>>
<section class="photo-profile">
  <div class="bottom-black">
    <div class="container">
      <div class="col-lg-4 pad_0">
        <h1>Acoustic guitar player</h1>
        <a href="#">Key words: Electric Bass |</a>
        <a href="#">Synth Bass |</a>
        <a href="#">Upright Bass</a>
      </div>
      <div class="col-lg-4">
        <img src="./assets/images/min.jpg" alt="" class="border-img">
      </div>
      <div class="col-lg-4">
        <h1>Price </h1> 
        <a  >Price per event : $1000  </a>

      </div>
    </div>
  </div>
  <div class="col-lg-4 darkbrown">
    <div class="col-lg-8 pull-right pad_70">
      <p class="text-center">Rating</p>
      <div class="col-xs-12 col-sm-6 col-lg-12 pad_70">
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star"></span>
      </div>

    </div>
  </div>
  <div class="col-lg-4">&nbsp;</div>
  <div class="col-lg-4 lightyellow">
    <div class="pad_70_left">
      <a href="#">Book Now!</a>
      <div style="display:table-cell; padding: 0 15px;"></div>
      <a href="#">Inquire for <br>
        Regular Events</a>
    </div>
  </div>
  <div class="col-lg-12 text-center">
    <div class="container">
      <br>
      <h3 class="font-bauhaus">Jasmin Ferrera</h3>
      <p>
        Jasmin Ferrera has been recording online for over 5 years now amassing an impressive collection of vintage and modern bass guitars to cover all sounds. He also plays upright bass. He is known as a groove player who plays for the song and is proficient in a range of styles and techniques. Recent credits have included playing on demo projects all the way through to Hollywood films, TV and everything in between. His live credits include Katie Melba, Martha Reeves and the Candelas, Les Miserable (West End) and TV sessions with Rod Stewart and Olly Moors.
      </p>
    </div>
  </div>
</section>
<app-artists-view-profile-content></app-artists-view-profile-content>