<form #artistSkillForm="ngForm" (ngSubmit)="saveSkill(artistSkillForm)">
<div class=" col-xs-12 col-lg-12  ">
  <div class="row">
    <div class="col-lg-2 pull-right">
      <button type="button" class="btn btn-default rightButton" (click)="resetForm(artistSkillForm)">Add New</button>
      <button type="submit" class="btn btn-default rightButton">Save</button>
    </div>
  </div>
  <br>
  <fieldset class="fieldset_inner">
    <legend>
      <span>Skill </span> certification</legend>
    <div class="row">
      <div class="alert alert-success alert-dismissible" *ngIf="skillApiStatus === 'save'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Skill Added Successfully.
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="skillApiStatus === 'update'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Skill Updated Successfully.
      </div>
      <div class="alert alert-success alert-dismissible" *ngIf="skillApiStatus === 'delete'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Skill Deleted Successfully.
      </div>
      <div class="alert alert-danger alert-dismissible" *ngIf="skillApiStatus === 'error'">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong> Error While Saving Skill
      </div>
      <div class="alert alert-warning alert-dismissible" *ngIf="skillApiStatus === 'validationError' && (artistSkillForm && artistSkillForm.form && artistSkillForm.form.controls && artistSkillForm.form.invalid)">
        <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div class="errorbox" *ngIf="(artistSkillForm && artistSkillForm.form && artistSkillForm.form.controls && artistSkillForm.form.invalid && artistSkillForm.submitted) ">
            <b>Validation error(s) occured:</b>
            <br>
            <!-- <li *ngIf="ErrorMesageFlag">{{validateMsg}}</li> -->
            <li *ngIf="artistSkillForm.form.controls.skillTitle?.hasError('required')">Please enter skill title</li>
            <li *ngIf="artistSkillForm.form.controls.skillTitle?.hasError('pattern')">Please enter valid skill title (should be alphabets only)</li>
            <li *ngIf="artistSkillForm.form.controls.skillTitle?.hasError('minlength')">skill title minimum length should be 5</li>
            <li *ngIf="artistSkillForm.form.controls.skillTitle?.hasError('maxlength')">skill title maximum length should be 10</li>           
          </div>
      </div>
    </div>
    <div class="form-group">
      <input type='text' class="form-control" placeholder="Title " [(ngModel)]="skillTitle" name="skillTitle" pattern="[a-zA-Z][a-zA-Z ]+"
      minlength="5" maxlength="10" required/>
    </div>
    <div class="form-group">
      <textarea name="" id="" class="form-control" placeholder="Skill Description" cols="30" rows="10" [(ngModel)]="skillDescription" name="skillDescription">Description</textarea>
    </div>

    <div class="skill">
      <div *ngIf="!loadContentStatus">
        <img src="./assets/images/load.gif" />
      </div>
      <div *ngIf="loadContentStatus">
        <div class="col-lg-3" *ngFor="let item of skillsData; let i = index;">
          <div class="skillcontainer" (click)="editSkill(i)">
            <span>{{item?.skill_title}}
              <a class="delete-icon" href="javascript:void(0)" data-toggle="modal" data-target="#skilldeleteModel" (click)="showDeletionConfirmationPopup(item?.skill_id)">X</a>
            </span>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-3">
         <video class="video">
           <source src="./assets/images/sample.mp4" type="video/mp4">
           <source src="./assets/images/sample.mp4" type="video/ogg">
           Your browser does not support HTML5 video.
         </video>
         <div class="playpause"></div>
       </div>

       <div class="col-lg-3">
         <video class="video">
           <source src="./assets/images/sample.mp4" type="video/mp4">
           <source src="./assets/images/sample.mp4" type="video/ogg">
           Your browser does not support HTML5 video.
         </video>
         <div class="playpause"></div>
       </div>

       <div class="col-lg-3">
         <video class="video">
           <source src="./assets/images/sample.mp4" type="video/mp4">
           <source src="./assets/images/sample.mp4" type="video/ogg">
           Your browser does not support HTML5 video.
         </video>
         <div class="playpause"></div>
       </div> -->
    </div>
    <div class="modal fade" id="skilldeleteModel" role="dialog" #skilldeleteModel>
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Delete Item</h4>
            </div>
            <div class="modal-body text-center">
              <p>Are you Sure!!!</p>
            </div>
            <div class="modal-footer">
              <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <button type="button" class="btn btn-default"  (click)="deleteSkill(artistSkillForm)" data-dismiss="modal">Delete</button>
                </div>
                <div class="col-lg-4">
                  <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
                </div>
              </div>
    
            </div>
          </div>
    
        </div>
      </div>
  </fieldset>

</div>
</form>