<section class="solical_btn">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">

        <fieldset class="pad_bot">
          <legend>OR Please Login with social media accounts</legend>

          <div class="col-xs-12 col-md-6 ">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#socialMediaRoleConfirmation" (click)="login('google')" class="btn btn-lg btn-block omb_btn-google">
              <i class="fa fa-google-plus visible-xs"></i>
              <span class="hidden-xs">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
                Sign in with Google+</span>
            </a>
          </div>
          <div class="col-xs-12 col-md-6 tab-content">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#socialMediaRoleConfirmation" (click)="login('facebook')" class="btn btn-lg btn-block omb_btn-facebook">

              <span class="hidden-xs">
                <i class="fa fa-facebook" aria-hidden="true"></i>Sign in with Facebook</span>
            </a>
          </div>

        </fieldset>

      </div>
    </div>
  </div>

  <div class="modal fade" id="socialMediaRoleConfirmation" role="dialog" #socialMediaRoleConfirmation>
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Choose Role</h4>
          </div>
          <div class="modal-body text-center">
            <div class="form-group">
              <select class="form-control" id="userRole" [(ngModel)]="roleId" name="role">
                <option disabled=true value="">Choose Role Type</option>
                <option *ngFor="let item of roleData" value="{{item?.role_id}}">{{item?.role_name}}</option>
              </select>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                <button type="button" class="btn btn-default" (click)="setSocialLoginForm();" data-dismiss="modal">Select Role</button>
              </div>
              <div class="col-lg-4">
                <button type="button" class="btn btn-gray" data-dismiss="modal">Cancel</button>
              </div>
            </div>
  
          </div>
        </div>
  
      </div>
    </div>

</section>
