<h1>Reviews &amp; Testimonials </h1>
<div id="myCarouseltest" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarouseltest" data-slide-to="0" class="active"></li>
    <li data-target="#myCarouseltest" data-slide-to="1"></li>
    <li data-target="#myCarouseltest" data-slide-to="2"></li>
    <li data-target="#myCarouseltest" data-slide-to="3"></li>
    <li data-target="#myCarouseltest" data-slide-to="4"></li>
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="row text-center">
        <div class="col-sm-10 col-sm-offset-1">
          <p>
            <span>
											There is great satisfaction in knowing you've done your job well and served your clients' interests. It gives us particular satisfaction when our clients take the time.
										</span>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star"></i>
            <em>Daltin Royal  </em>
            <em> Goa</em>
          </p>
        </div>
        <div class="col-sm-10 col-sm-offset-1">
        </div>
      </div>
    </div>
  </div>
</div>
