<div class=" col-xs-12 col-lg-12  "> 
  <div>									
    <ul class="nav nav-tabs nav-tab-right">
      <li class="active">
        <a data-toggle="tab" href="#eight">Show availabel fund  </a></li>
      <li><a data-toggle="tab" href="#nine">	Withdrawal history   </a></li>
      <li><a data-toggle="tab" href="#ten">Payment settings  </a></li>
    </ul>
    <div class="tab-content row">
      <div id="eight" class="tab-pane fade in active">
        <app-hotels-wallet-show-available-fund-content></app-hotels-wallet-show-available-fund-content>								
      </div>
      <div id="nine" class="tab-pane fade">
        <app-hotels-wallet-withdraw-history-content></app-hotels-wallet-withdraw-history-content>					
      </div>
      <div id="ten" class="tab-pane fade">
        <app-hotels-wallet-payment-setting-content></app-hotels-wallet-payment-setting-content>									
      </div>
    </div>
  </div>
</div>