<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner"> 		
    <div class="container">			
      <h2> <i class="fa fa-sign-in" aria-hidden="true"></i>Contact us</h2>		
    </div>							<div class="item active">

    <img src="./assets/images/innerpage.jpg" alt="Los Angeles" style="width:100%;">
    </div>
  </div>
</div>	 

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <fieldset class="fieldset_inner">
          <legend> <span>Please Share</span> Your details</legend>
          <form [formGroup]="contacUsForm" (ngSubmit)="PostData(contacUsForm)">  
            <div class="row">
              <div class="alert alert-success alert-dismissible" *ngIf="contactUsApiStatus === 'success'">
                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> Your inquiry was submittted and will be responded to as soon as possible. Thank you for contacting us!
              </div>
              <div class="alert alert-danger alert-dismissible" *ngIf="contactUsApiStatus === 'error'">
                <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Error!</strong> Error while contacting!
              </div>
            </div>
            <div class="form-group">
              <input type="text" formControlName='contact_name' class="form-control placeholder" placeholder="Your Name">
              <div *ngIf="contacUsForm.controls.contact_name.errors && (contacUsForm.controls.contact_name.touched || contacUsForm.controls.contact_name.dirty)">
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_name.errors.required">Name is required!</span>
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_name.errors.minlength">Name must be at least {{contacUsForm.controls.contact_name.errors.minlength.requiredLength}} characters!</span>
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_name.errors.maxlength">Name must be upto {{contacUsForm.controls.contact_name.errors.maxlength.requiredLength}} characters!</span>
              </div>
            </div>
            <div class="form-group">
              <input type="email" formControlName='contact_email' class="form-control placeholder" placeholder="Email">
              <div *ngIf="contacUsForm.controls.contact_email.errors && (contacUsForm.controls.contact_email.touched || contacUsForm.controls.contact_email.dirty)">
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_email.errors.required">Email is required!</span>
                <span class="redItalic" *ngIf="!contacUsForm.controls.contact_email.errors.required && contacUsForm.controls.contact_email.errors.email">Please provide valid email!</span>
              </div>
            </div>
            <div class="form-group">
              <input type="tel" formControlName='contact_mbl_number' class="form-control placeholder" placeholder="Mobile No.">
              <div *ngIf="contacUsForm.controls.contact_mbl_number.errors && (contacUsForm.controls.contact_mbl_number.touched || contacUsForm.controls.contact_mbl_number.dirty)">
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_mbl_number.errors.required">Email is required!</span>
                <span class="redItalic" *ngIf="!contacUsForm.controls.contact_mbl_number.errors.pattern && contacUsForm.controls.contact_mbl_number.errors.minlength">Mobile no must be at least {{contacUsForm.controls.contact_mbl_number.errors.minlength.requiredLength}} digits!</span>
                <span class="redItalic" *ngIf="!contacUsForm.controls.contact_mbl_number.errors.pattern && contacUsForm.controls.contact_mbl_number.errors.maxlength">Mobile no must be upto {{contacUsForm.controls.contact_mbl_number.errors.maxlength.requiredLength}} digits!</span>
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_mbl_number.errors.pattern">Mobile no only contains digits!</span>
              </div>
            </div>

            <div class="form-group">
              <input type="type" formControlName='contact_city' class="form-control placeholder" placeholder="City">
              <div *ngIf="contacUsForm.controls.contact_city.errors && (contacUsForm.controls.contact_city.touched || contacUsForm.controls.contact_city.dirty)">
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_city.errors.required">City is required!</span>
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_city.errors.minlength">City must be at least {{contacUsForm.controls.contact_city.errors.minlength.requiredLength}} characters!</span>
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_city.errors.maxlength">City must be upto {{contacUsForm.controls.contact_city.errors.maxlength.requiredLength}} characters!</span>
              </div>
            </div>
            <div class="form-group">
              <textarea name="" id="" formControlName='contact_comment' cols="30" rows="2" class="form-control placeholder" placeholder="Comment..."></textarea>
              <div *ngIf="contacUsForm.controls.contact_comment.errors && (contacUsForm.controls.contact_comment.touched || contacUsForm.controls.contact_comment.dirty)">
                <span class="redItalic" *ngIf="contacUsForm.controls.contact_comment.errors.maxlength">Comment must be upto {{contacUsForm.controls.contact_comment.errors.maxlength.requiredLength}} characters!</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 pull-right">
                <button type="submit" [disabled]="loading || !contacUsForm.valid" class="btn btn-default">Submit</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
              </div>
            </div>
        </form>
        </fieldset>

      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 contacdetail">
        <fieldset class="fieldset_inner text-center">
          <legend> <span>Our Contact</span> Details</legend>
          <h2>Address</h2>
          <p>145 office no. 522, Nest Addrss line , jaipur , Rajasthan.  <br>  Pin Code:  302154  <br><br> 

            <label>
              <i class="fa fa-mobile-phone" aria-hidden="true"></i>
               +91-64654-53133 
            </label> 

            <label>
              <i class="fa fa-phone" aria-hidden="true"></i>
               +91-64654-53133 
            </label>

            <label>
              <i class="fa fa-fax" aria-hidden="true"></i>
             +91-64654-53133 
            </label> 
          </p>
        </fieldset>
      </div>
    </div>
  </div>
</section>

<section>
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4231.730115632657!2d75.76858996373467!3d26.889315365570454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1516515184686" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<section style="margin-bottom:50px;">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6 col-lg-offset-3">			

        <fieldset class="pad_bot">
          <legend><i class="fa fa-envelope" aria-hidden="true"></i></legend>
          <h2>Newsletter</h2>
          <p>Stay up to date with our latest news and products.</p>
          <div class="form-group">
            <div class="input-group col-xs-12 newsletter">
              <input type="text" class="form-control input-lg">
              <a href="#">Newsletter</a>
            </div>
          </div>

        </fieldset>

      </div>
    </div>
  </div>

</section>