<ul class="nav navbar-nav navbar-right">
  <li class="scroll active"><a href="javascript:void(0)" [routerLink]="['/']">Home</a></li>
  <li class="scroll"><a href="javascript:void(0)" [routerLink]="['/about-us']">About Company</a></li>
  <li class="scroll"><a href="javascript:void(0)" [routerLink]="['/popular-events']">Popular Events</a></li>
  <li class="scroll"><a href="javascript:void(0)" [routerLink]="['/blog']">Blog</a></li>
  <li class="scroll"><a href="javascript:void(0)" [routerLink]="['/contact-us']">Contact us</a></li>
</ul>
